body {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
p {
    font-size: 15px;
}

#score {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(9, 52, 150);
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}